  .sublabel{
    color: var(--accent2);
    font-weight:650;
    margin: 3px;
    font-size: clamp(1rem, 2vw, 1.1rem);;
  }

  .squareBtn{
    background-color: var(--accent);
    color: var(--secondary);
    border: 2.5px solid transparent;
    border-radius: 10px;
  }
  .squareBtn:hover{
    background-color: var(--secondary);
    color: var(--accent);
    border: 2.5px solid var(--accent);
  }