.nav-item :hover {
    color: var(--accent);

}

.nav-item {
    font-weight: bold;
}

.nav-item .nav-link:hover {
    color: var(--accent);
    opacity: 100%;
}

.nav-item .nav-link {
    color: var(--text);
    opacity: 70%;
}

.nav-item .nav-link.active:hover {
    color: var(--text);
    opacity: 100%;
}

.nav-item .nav-link.active {
    color: var(--text);
    opacity: 100%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(4, 139, 168, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler:focus{
    box-shadow: none;
}