
.list-group-item{
    color: var(--primary);
    border-radius: 20px !important;
    border: none;
    background-color: var(--secondary);
    font-weight: 500;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.list-group-item:hover{
    color: var(--accent) !important;
    font-weight: 500;

}
.card-text{
    height: 100px;
}
.card{
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 1rem;
    border: none;
}
.card:hover{
    transform: scale(1.02);
    
}