body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #023D4B;
  --secondary: #f8f9fa;
  --accent: #048BA8;
  --text: #212529;
  --success: #7FC29B;
  --successText: #1E3E2B;
  --alert: #FFA1A1;
  --alertText: #6F161D; 
  --background: #EEF0F2;
  --accent2: #704487;
}
